.reception-profile {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .reception-profile-overlay {
        z-index: 10;
    }

    .reception-container {
        position: relative;
        z-index: 11;
        max-width: 500px;
        width: 100%;
        overflow: hidden;

        .contact {
            background-color: var(--body-background-color);
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
        }

        .white-container {
            background-color: var(--background-default);
            padding: 2rem 1rem;
            border-bottom: 1rem solid var(--body-background-color);

            &:last-of-type {
                border-bottom: unset !important;
            }

            .title {
                color: var(--secondary-text-color);
                margin-bottom: 0.5rem;
            }
        }

        .avatar-fragment {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .name {
                font-size: 18px;
            }

            .email {
                color: var(--secondary-text-color);
            }

            .online {
                color: var(--main-color);
            }

            .offline {
                color: var(--secondary-text-color);
            }
        }
    }
}